- model_class = Reply
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize.titleize
%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:id)
      %th= model_class.human_attribute_name(:body)
      %th= model_class.human_attribute_name(:ticket_id)
      %th= model_class.human_attribute_name(:owner_id)
      %th= model_class.human_attribute_name(:created_at)
      %th=t '.actions', :default => t("helpers.actions")
  %tbody
    - @replies.each do |reply|
      %tr
        %td= link_to reply.id, reply_path(reply)
        %td= reply.body
        %td= reply.ticket_id
        %td= reply.owner_id
        %td=l reply.created_at
        %td
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_reply_path(reply), :class => 'btn btn-default btn-xs'
          = link_to t('.destroy', :default => t("helpers.links.destroy")), reply_path(reply), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs btn-danger'

= link_to t('.new', :default => t("helpers.links.new")), new_reply_path, :class => 'btn btn-primary'
