- model_class = Ticket
.row.row-centered
  .col-xs-3.col-centered.col-max
    .item
      .page-header
        %h1=t '.title', :default => model_class.model_name.human.pluralize.titleize
      .content
  .col-xs-6.col-centered.col-max
    .item
      = render :partial => "form_filter"
      .content
  .col-xs-3.col-centered.col-max
    .item.text-right
      %br
      = link_to raw('<i class="glyphicon glyphicon-plus"> Submit ticket</i>'), new_ticket_path, :class => 'btn btn-primary btn-lg'
      .content

%table.table.table-striped.pretty
  %thead
    %tr
      %th= sortable "client_name"
      %th= sortable "client_email"
      %th= sortable "subject"
      %th= model_class.human_attribute_name(:body)
      %th= model_class.human_attribute_name(:reference)
      %th= model_class.human_attribute_name(:department)
      %th= model_class.human_attribute_name(:state_id)
      %th= sortable "owner_id"
      %th= sortable "created_at"
      %th= model_class.human_attribute_name(:replies)
  %tbody
    - @tickets.each do |ticket|
      %tr
        %td= ticket.client_name
        %td= ticket.client_email
        %td= link_to ticket.subject, ticket_path(ticket)
        %td= ticket.body.length > 150 ? ticket.body[0..150] + '...' : ticket.body
        %td= ticket.uniq_reference
        -if ticket.department_id
          %td= ticket.department.name
        -if ticket.state_id
          %td= ticket.state.name
        -if ticket.owner_id
          %td= ticket.owner.email
        -else
          %td= ''
        %td= ticket.created_at.strftime("%Y-%m-%d %H:%M:%S")
        %td= ticket.replies.size

= will_paginate @collection, renderer: BootstrapPagination::Rails
  